ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  li {
      background: white;
      border: 1px solid lightgray;
      padding: 1em;
      margin-right: 10px;
      width: 25%;
      height: 200px;
      margin-bottom: 1em;
      display: flex;
      flex-direction: column;

      p {
          margin: 0;
      }

      p.name {
          font-weight: bold;
          font-size: 1.2rem;
      }

      p.type {
        padding: 10px 0px;
      }

      p.city {
          text-transform: uppercase;
          font-size: .9rem;
          flex-grow: 1;
      }
  }
}